<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/2047b3db-bf36-4ed4-91a0-cafa3ae8463e/resourceGroups/OmcSales/providers/Microsoft.Web/sites/OmcSalesAPI</ResourceId>
    <ResourceGroup>OmcSales</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://omcsalesapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>omcsalesapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OmcSalesAPI</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$OmcSalesAPI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>